/************************************  LEGEND

purple: #32052F;
yellow: #fcd000;
gray: #959595;

*/

body {
  overflow: visible;
}

@media only screen and (max-width:480px) {
    #desktopview {
			display: none;
		}

		#mobileview {
			display: show;
		}

/**************************** MOBILE NAVIGATION ********************/
    .mobilelogo {
      width:10%;
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
      display: inline-block;
      float: left;
      margin-bottom: 5%;
    }

    .menu {
      width:100%;
      background-color:white;
      font-size: 18px;
      display: none;
    }

    .menu h4 {
      color:#959595;
      text-transform:uppercase;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color:color:#959595;
      padding: 15px;
      text-align: center;
    }

    #mobileview h1, h2 {
      display: inline-block;
    }

    #mobileview h1 {
      font-size:21px;
      margin-top:5%;
    }

    #mobileview h2 {
      font-size:14px;
      margin-top:5px;
      font-weight: 400;
    }

    i {
      display: inline-block;
      float: right;
      margin-top: -5%;
      margin-right: 5%;
      color: #fcd000;
      cursor: pointer;
    }

    #stickymobile {
      position: fixed;
      background-color:#32052F;
      z-index: 2;
    }
}

/**************************** PROJECT SECTIONS ********************/

#mobileprojects {
  position: absolute;
  z-index: 1;
  margin-top:75px;
  width: 80%;
  margin-left: 10%;
}

#mobileprojects img {
  width:100%;
  height:20vh;
  object-fit: cover;
  margin-bottom:5%;
}

#mobileprojects h1 {
  background-color:#fcd000;
  font-weight: 700;
  color: white;
  padding:10px;
  width: 100%;
}

#mobileprojects h2 {
  background-color: white;
  padding: 10px;
  color:#959595;
  width:100%;
  margin-top: 0%;
}

.contactmobile h3 {
  color: #fcd000;
  margin-top: 10px;
}

.contactmobile {
}

.contactmobile i {
  margin-top:15px;
  display: inline-block;
  float: left;
  width:15%;
  margin-bottom: 20px;
  margin-top:10px;
}

.lastmobile {
  margin-bottom: 20px;
}

/************************  DON'T TOUCH THIS PART ***********************/
@media (min-width:600px)  {

  #desktopview {
    display: show;
  }

  #mobileview {
    display:none;
  }

}

@media only screen and (min-width:1200px) {
    #desktopview {
			display: show;
		}

		#mobileview {
			display:none;
		}
}
