/************************************  LEGEND

purple: #32052F;
yellow: #fcd000;
gray: #959595;

*/

body {
  background-color: white;
}

.coverbkg h1 {
  font-size: 60px;
  background-color: rgba(252, 208, 0, 0.8);
  padding: 10px;
  color: white;
}

p {
  font-size: 18px;
  color: #959595;
}

#menubar {
  background-color: #32052F;
  height:60px;
  width: 100%;
  position: fixed;
}

#menubar .hvr-underline-reveal::before {
  height:2px;
}

#logo {
  width:30px;
  margin-left: 20px;
  margin-top: -10px;
}

#menubar h4 {
  color:#fcd000;
  margin-top: 22.5px;
  font-size: 16px;
  margin-right:20px;
}

#logoproject {
  display: inline-block;
  width:300px;
  margin-top: 22.5px;
}

#logoproject h1{
  font-size: 18px;
  padding-top:0px;
}
