/************************************  LEGEND

purple: #32052F;
yellow: #fcd000;
gray: #959595;

*/
/***************** GENERAL ****************/
body {
  background: url(../img/cover1.jpg) no-repeat bottom center fixed;
  background-size: cover;
  overflow: visible;
}

p {
  font-size: 18px;
  color: #424242;
}

/***************** STICKY MENU BAR ****************/

#menubar {
  background-color: #32052F;
  height:60px;
  width: 100%;
  position: fixed;
  top:0px;
  z-index: 200;
}

#menubar .hvr-underline-reveal::before {
  height:2px;
}

#logo {
  width:30px;
  margin-left: 20px;
  margin-top: -10px;
}

#menubar h4 {
  color:#fcd000;
  margin-top: 22.5px;
  font-size: 16px;
  margin-right:20px;
}

#logoproject {
  display: inline-block;
  width:300px;
  margin-top: 22.5px;
}

#logoproject h1{
  font-size: 18px;
  padding-top:0px;
}

/***************** COVER BACKGROUND SECTION ****************/
.coverbkg {
  height:100vh;
  padding-top: 30vh;
}

.coverbkg h1 {
  font-size: 60px;
  background-color: rgba(252, 208, 0, 0.8);
  padding: 10px;
  color: white;
  position: relative;
  display: inline-block;
}

#headertext {
  background-color:rgba(255, 255, 255, 0.8);
  width:25%;
  display: inline-block;
  float: right;
  line-height: 30px;
  padding:20px;
  margin-right: 10%;
  margin-left: 5%;
  position: fixed;
}

#header {
  margin-left: 10%;
  width:50%;
  display: inline-block;

}
